*{
    margin: 0;
    padding: 0;
}
main {
    text-align: center;
}
.wrapper {
    display: inline-block;
}
.wrapper kbd {
    border: 1px solid red;
    display: inline-block;
    width: 4em;
    height: 4em;
    text-transform: uppercase;
    position: relative;
}
.wrapper kbd button {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
}
.wrapper kbd:hover button{
    display: inline-block;
    background-color: green;
}